.host-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 135px;
    height: 33px;
    gap: 10px;

    .host-name {
        position: relative;
        width: min-content;
        text-align: end;
        font-size: clamp(0.75rem, 0.5333rem + 0.9245vw, 1.125rem);
        font-family: 'Montserrat', sans-serif;
        color: #FF6060;
    }

    .avatar {
        position: relative;
        height: 33px;
        min-width: 33px;
        border-radius: 50%;
        overflow: hidden;
        transition: .5s;

        img {
            object-fit: contain;
        }
    }
}

@media screen and (min-width: 700px) {
    .host-wrapper {
        height: 64px;
    
        .avatar {
            min-width: 64px;
            height: 64px;
    
            img {
                object-fit: contain;
            }
        }
    }
}