
$primary: #FF6060;

.navbar_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.img_logo{
		width:250px;
	}

	.ul_links {
		display: flex;
		flex-direction: row;
		gap: 60px;
	}
	.link {
		list-style: none;
	}
	a {
		text-decoration: none;
		font-size: 16px;
		color: $primary;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
		
	}
}