.rating {
	display: inline-flex;
	width: max-content;
	height: 15px;
	gap: 2px;
	transition: .5s;
    
	img {
	    height: 100%;
	}
    
	@media screen and (min-width: 700px) {
	    height: 30px;
	}
    }